
@{
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jakdojechac</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="text-type">
    <br/>
    <br />
    Dzierżoniów<br/>
    Ul. Różana 26<br/>
    <br/>
    Sprawdź jak dojechać na poniższej mapie!
</div>
<div>
    <div class="container">

        <img class="img-responsive center-block" src="../Images/mapa.bmp" ">
        <br />
    </div>

</div>
</body>
</html>
