
@{
    ViewBag.Title = "Osklepie";
    Layout = "~/Views/_LayoutPage1.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Osklepie</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="text-type">
    <br />
</div>
        <div class="container">
            <div class="row margin-0">
                <div class="col-sm-4 padding-0">
                    <img class="img-responsive" src="../Images/sklep.jpg">

                </div>
                <div class="col-sm-4 padding-0">
                    <div class="text-type">
                        tutaj napiszemy wszystko co najlepsze o sklepie.
                    </div>
                </div>
</body>
</html>